.login-container{
    background-color: rgba(0,0,0,.80);
    height: 30em;
    position: relative;
    width: 35em;
    padding: 0;
}

.text-field{
    background-color: white;
    color: white;
    width: 300px;
}

h1.header{
    width: 100%;
    background-color: black;
    color: white;
    padding: 18.5px;
    margin-top: 0;
    font-family: 'Norwester';
}

.login-button{
    margin-top: 4em;
    background-color: #f44336;
    color: white;
    max-width: 100px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: space-evenly;
}
